<%= form_with(model: learning_resource) do |f| %>

  <div class="mb-3">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :publisher, class: "form-label" %>
    <%= f.text_field :publisher, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, rows: 4, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :image_url, class: "form-label" %>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>